@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #212121;
  color: rgb(222, 221, 221);
}

footer {
  background-color: #212121;
}

p {
  line-height: 1.5;
  color: rgba(222, 221, 221, 0.5);
}
a {
  font-family: "Montserrat", sans-serif;
  color: #0d7377;
  text-decoration: none;
}

a:hover {
  text-decoration: underline overline;
}

a:visited {
  color: #0d7377;
}

a .active {
  font-weight: bold;
}
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 96px;
  margin-top: 0;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 0;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.logo {
  max-width: 200px;
  padding-top: 0;
}

.hero {
  background-color: #252525;
  max-width: 100%;
  padding: 50px;
  text-align: center;
}

.btn-branding:hover {
  border: 1px solid #0d7377;
  border-radius: 8px;
  text-decoration: none;
  color: #0d7377;
}

.btn-branding:hover:visited {
  border: 1px solid #0d7377;
  border-radius: 8px;
  text-decoration: none;
  color: #0d7377;
}

.btn-branding {
  background-color: #0d7377;
  color: #212121;
  font-family: "Montserrat", sans-serif;
  border-radius: 8px;
  text-decoration: none;
}

.btn-branding:visited {
  background-color: #0d7377;
  color: #212121;
  border-radius: 8px;
  text-decoration: none;
}

.project-container {
  max-width: 100%;
  background-color: #252525;
}

.projects {
  border: 3px solid rgb(196, 196, 196);
  border-radius: 3px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.projects:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
}

.about-header {
  font-size: 44px;
  font-family: "Roboto", sans-serif;
}

.about-secondary-header {
  opacity: 0.8;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #0d7377;
}

.my-photo {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  max-width: 400px;
}

.project-image {
  max-height: 300px;
  max-width: auto;
}
